/* General reset to remove default margins and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: #f4f7f6;
    color: #333;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #f39c12;
}

/* Resume Section */
#resume {
    padding: 60px 20px;
    background-color: #fff;
    text-align: center;
}

#resume h2 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 40px;
    position: relative;
}

#resume h2::after {
    content: "";
    width: 100px;
    height: 4px;
    background-color: #f39c12;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -10px;
}

/* Embed PDF */
iframe {
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    max-width: 1000px;
    margin: 0 auto;
    display: block;
    height: 700px; /* Adjust the height as needed */
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
    margin-top: 40px;
}

footer a {
    color: #f39c12;
    text-decoration: none;
    transition: color 0.3s;
}

footer a:hover {
    color: #fff;
}

/* Responsive Design */
@media (max-width: 768px) {
    #resume h2 {
        font-size: 2rem;
    }

    iframe {
        height: 500px; /* Adjust height for smaller screens */
    }
}
